extends layout

block content
    h1= "Unstarve.me"
    form(name="search-yelp", method="get", action="search")
        div.input
            span.label Query
            input(type="text", name="query")
        div.actions
            input(type="submit", value="Search")
    h2= "Search Result:"
    h2= title
    h3= address
