<!DOCTYPE html>
<html>
<head>
    <link type="text/css" href="../public/stylesheets/style.css" rel="stylesheet">
    <script type="text/javascript" src='https://api.tiles.mapbox.com/mapbox.js/v2.1.6/mapbox.js'></script>
    <link href='https://api.tiles.mapbox.com/mapbox.js/v2.1.6/mapbox.css' rel='stylesheet' />
</head>
<body style='color: darkgray; text-align: center; margin-top: 50px'>
    <script type="text/javascript" src='//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js'></script>
</body>
</html>
