doctype html
html
    head
        title= title
        link(rel='stylesheet', href='/stylesheets/style.css')
    body(style='color: darkgray; text-align: center; margin-top: 50px')
        block content
        script(src='//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js')
