extends layout

block content
    h1= title
    form(name="search-yelp", method="get", action="search")
        div.input
            span.label Query
            input(type="text", name="query")
        div.actions
            input(type="submit", value="Search")
